button {
  border: none;
  background-color: transparent;

  .priority-important {
    color: darkred;
  }
  
  .task-title {
    margin: 0 15px;
  
    &.finished {
      text-decoration: line-through;
    }
  }
  
  .task-deadline {
    margin: 0 5px;
    padding: 0 5px;
    border-radius: 3px;
    background-color: #7899a5;
    color: white;
  }
}
